<h2>Role LIst</h2>
<div class="form">
<%= form_with model: @role do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.select :name, [["Admin","Admin"],["User","User"]] %>
  </div><br>

  <%= f.submit 'submit' %>
  <% end %>
</div>